<footer class="footer">
  <div class="container">
    <div class="footer__grid">
      <div>
        <div class="footer__brand">
          <img src="{{base}}assets/img/logo.png" alt="" width="64" height="64">
          <strong>Lösemi Lenfoma<br>Miyelom Derneği</strong>
        </div>
        <p>Lösemi, lenfoma ve miyelom hastalarının ve yakınlarının yanında; doğru bilgiye erişim, hasta hakları ve farkındalık için çalışıyoruz.</p>
        <div class="social">
          <a href="http://www.facebook.com/llmhastadernegi" aria-label="Facebook"><svg><use href="#i-facebook"/></svg></a>
          <a href="https://x.com/LLMbirligi" aria-label="X (Twitter)"><svg><use href="#i-x"/></svg></a>
        </div>
      </div>
      <div>
        <h4>Hastalar için</h4>
        <ul>
          <li><a href="{{base}}hastalik-aml.html">Hastalık bilgileri</a></li>
          <li><a href="#">Hasta rehberi</a></li>
          <li><a href="#">Hasta ve hekim hakları</a></li>
          <li><a href="#">Derneğe sorun</a></li>
          <li><a href="#">Hikâyeler</a></li>
        </ul>
      </div>
      <div>
        <h4>Dernek</h4>
        <ul>
          <li><a href="#">Hakkımızda</a></li>
          <li><a href="#">Yönetim kurulu</a></li>
          <li><a href="#">Tüzük</a></li>
          <li><a href="{{base}}haberler.html">Haberler &amp; etkinlikler</a></li>
          <li><a href="#">Sağlık çalışanları için</a></li>
        </ul>
      </div>
      <div>
        <h4>İletişim</h4>
        <ul>
          <li>Hoşdere Caddesi No: 198/5<br>Çankaya / Ankara</li>
          <li><a href="tel:+905301568768">0530 156 87 68</a></li>
          <li><a href="mailto:info@losemilenfomamiyelom.org">info@losemilenfomamiyelom.org</a></li>
        </ul>
        <div class="iban">Garanti Bankası IBAN<br><code>TR02 0006 2001 3610 0006 2936 42</code></div>
      </div>
    </div>
    <p class="disclaimer">Bu sitedeki bilgiler genel bilgilendirme amaçlıdır; hekim muayenesi ve tedavisinin yerini tutmaz. Tanı ve tedaviniz için mutlaka hekiminize danışın.</p>
    <div class="footer__bottom">
      <span>© 2026 Lösemi Lenfoma Miyelom Derneği</span>
      <ul>
        <li><a href="#">KVKK aydınlatma metni</a></li>
        <li><a href="#">Çerez politikası</a></li>
        <li><a href="#">Erişilebilirlik</a></li>
      </ul>
    </div>
  </div>
</footer>

<div class="proto-note" role="note"><button type="button" data-dismiss=".proto-note" aria-label="Kapat">×</button><strong>Tasarım prototipi.</strong> Etkinlik tarihleri, rakamlar ve alıntılar örnek amaçlıdır; yayında yönetim panelinden girilecektir.</div>
